{% extends "layout.html" %}

{% block body %}
<h1>{{ title }}</h1>
<ul>
	{% for article in articles %}
	<li>
		<details>
			<summary>
				<a href="{{ url_for("article", article_id=article.id) }}"
						rel="http://rels.example.org/article">{{ article.title }}</a>
			</summary>
			<article id="article{{ article.id }}">
				<h1>{{ article.title }}</h1>
				<dl>
					<dt>title</dt>
					<dd>{{ article.title }}</dd>

					{% if article.pubdate %}
					<dt>pubdate</dt>
					<dd>
						<time datetime="{{ article.pubdate }}">
							{{ article.pubdate }}
						</time>
					</dd>
					{% endif %}
				</dl>
			</article>
		</details>
	</li>
	{% endfor %}
</ul>
{% endblock %}
