{% extends "layout.html" %}

{% block body %}
<ul>
	{% for article in articles %}
	<li>
		<a href="#article{{ article.id }}" rel="http://vocab.example.org/article"></a>
		<article id="article{{ article.id }}">
			<dl>
				<dt>title</dt>
				<dd>
					<a href="{{ url_for("article", article_id=article.id) }}" rel="self">
						{{ article.title }}
					</a>
				</dd>

				{% if article.pubdate %}
				<dt>pubdate</dt>
				<dd>
					<time datetime="{{ article.pubdate }}">
						{{ article.pubdate }}
					</time>
				</dd>
				{% endif %}
			</dl>
		</article>
	</li>
	{% endfor %}
</ul>
{% endblock %}
