{% extends "layout.html" %}

{% block body %}
<ul>
	{% for aid, article in articles %}
	<li>
		<a href="#article{{ aid }}" rel="http://vocab.example.org/article"></a>
		<article id="article{{ aid }}">
			<dl>
				<dt>title</dt>
				<dd>
					<a href="{{ url_for("article", article_id=aid) }}" rel="self">
						{{ article.title }}
					</a>
				</dd>

				<dt>published</dt>
				<dd>
					<time datetime="{{ article.published }}">
						{{ article.published }}
					</time>
				</dd>
			</dl>
		</article>
	</li>
	{% endfor %}
</ul>
{% endblock %}
