{% extends "layout.html" %}

{% block head %}
<link rel="self" href="{{ url_for("article", article_id=article.id) }}">
{% endblock %}

{% block body %}
<article>
	<h1>{{ article.title }}</h1>
	<dl>
		<dt>title</dt>
		<dd>{{ article.title }}</dd>

		<dt>published</dt>
		<dd data-type="boolean">
			{{ "true" if article.published else "false" }}
		</dd>

		{% if article.pubdate %}
		<dt>pubdate</dt>
		<dd>
			<time datetime="{{ article.pubdate }}">{{ article.pubdate | to_friendly_date }}</time>
		</dd>
		{% endif %}

		<dt>authors</dt>
		<dd>
			<ul>
				{% for handle in article.authors %}
				<li>
					<a href="{{ url_for("author", handle=handle) }}"
							rel="http://vocab.example.org/author">
						{{ handle }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</dd>

		<dt>tags</dt>
		<dd>
			<ul>
				{% for tag in article.tags %}
				<li>{{ tag }}</li>
				{% endfor %}
			</ul>
		</dd>

		<dt>edits</dt>
		<dd data-type="number">{{ article.edits }}</dd>

		<dt>content</dt>
		<dd data-type="text/html">{{ article.content }}</dd>
	</dl>
</article>
{% endblock %}
