{% extends "layout.html" %}

{% block body %}
<article>
	<dl>
		<dt>title</dt>
		<dd>
			<a href="{{ url_for("article", article_id=aid) }}" rel="self">
				{{ article.title }}
			</a>
		</dd>

		<dt>published</dt>
		<dd data-type="boolean">
			{{ "true" if article.published else "false" }}
		</dd>

		{% if article.pubdate %}
		<dt>pubdate</dt>
		<dd>
			<time datetime="{{ article.pubdate }}">{{ article.pubdate }}</time>
		</dd>
		{% endif %}

		<dt>authors</dt>
		<dd>
			<ul>
				{% for author in article.authors %}
				<li>{{ author }}</li>
				{% endfor %}
			</ul>
		</dd>

		<dt>tags</dt>
		<dd>
			<ul>
				{% for tag in article.tags %}
				<li>{{ tag }}</li>
				{% endfor %}
			</ul>
		</dd>

		<dt>edits</dt>
		<dd data-type="number">{{ article.edits }}</dd>

		<dt>content</dt>
		<dd data-type="html">{{ article.content }}</dd>
	</dl>
</article>
{% endblock %}
