{% extends "layout.html" %}

{% block head %}
<link rel="self" href="{{ url_for("author", handle=author.handle) }}">
{% endblock %}

{% block body %}
<article>
	<h1>{{ author.display_name }}</h1>
	<dl>
		<dt>handle</dt>
		<dd>{{ author.handle }}</dd>

		{% if author.name %}
		<dt>name</dt>
		<dd>{{ author.name }}</dd>
		{% endif %}

		{% if author.website %}
		<dt>website</dt>
		<dd>
			<a href="{{ author.website }}">{{ author.website }}</a>
		</dd>
		{% endif %}
	</dl>
</article>
{% endblock %}
